.share{
    
    width: 100%;
    /* background-color: rgb(163, 183, 163); */
  
    border-radius: 10px;
    -webkit-box-shadow: -2px 1px 32px 4px rgba(192, 175, 175, 0.41); 
    box-shadow: -2px 1px 32px 4px rgba(0,0,0,0.41);
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.sideWrapper{
    padding: 20px;
}
.shareTop{
    display: flex;
    align-items: center; 
}
.shareImg{
    width: 40px;
    height:40px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 10px;
    margin-left:10px ;
    margin-top: 5px;
}
.shareInput{
    border:none;
    width: 80%;
    height: 30px;
}
.shareInput:focus{
    outline:none
}
.shareHr{
    margin: 20px;
}
.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
   margin-left: 20px;
}
.shareOptions{
    display: flex;
   
}
.shareOption{
    display: flex;
    align-items: center;
   
    cursor: pointer;
}
.shareOptionIcon{
    margin-right:5px;
    font-size: 18px !important;
}
.sharebtn{
    background-color: darkgreen;
    padding: 5px;
    color: white;
    font-weight: 500;
    border:none;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 7px;
}
.sharebtn:hover{
    background-color: darkred;
    color: rgb(234, 212, 212);
}
.shareImgContainer{
    position: relative;
    padding: 0 20px 10px 20px;
}
.shareImage{
    width: 100%;
    object-fit: cover;
}
.cancelImg{
    position: absolute;
    top:0;
    right:20px;
    cursor: pointer;
    opacity: 0.6;
}